


 
  <section class="contact-section spad">

  <div class="row">
      <div class="col-md-6 offset-md-3" >
      <%= render "devise/shared/error_messages", resource: resource %>
          <div class="contact-text">
              <h2>Редактирование профиля</h2>

              <div class="col-md-8 offset-md-2" >
              <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), 
              html: { method: :put }) do |f| %>
               
                  <% if current_user.image %>
                      <%= f.file_field :image, style: "background-image: #{current_user.image}" %>
                  <% else %>
                  <%= image_tag 'no_avatar.png', height: 150 %>
                      <%= f.file_field :image, style: "background-image: no_avatar.png " %>

              <% end %>
              <%= f.text_field :name, label: 'Имя', value: current_user.name %>
              <%= f.text_field :surname, label: 'Фамилия', value: current_user.surname %>
              <%= f.telephone_field :phone, label: 'Телефон', value: current_user.phone %>
              <%= f.submit 'Изменить', class: 'col-md-6 col-md-offset-3 btn-theme btn' %>
<% end %>
<br>
        <%= button_to 'Удалить аккаунт', registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:'btn btn-red col-md-6 col-md-offset-3'%>
      </div>
</div>
</div>
</div>
</div>



