

<div class="container">
<div class="row">
    <div class="col-lg-6 offset-lg-3" >
    <h4></h4>
<%= bootstrap_form_for @tour do |form| %>


    <%= form.file_field :image, label: 'Изображение'  %>
    <%= form.text_field :name, label: 'Название тура:'  %>
    <%= form.text_field :country, label: 'Страна:'  %>
    <%= form.text_field :city, label: 'Город:'  %>
    <%= form.select :kind, %w(горнолыжный пляжный экскурсии городской), label: 'Тип тура:' %>
    <%= form.text_field :hotel, label: 'Отель:'  %>
    <%= form.select :stars, 1..5 , label: 'Количество звезд отеля:' %>
    <%= form.number_field :nights , min: 0, label: 'Количество ночей:'%>
    <%= form.select :food, ['Всё включено',
                         'Завтрак, обед и ужин', 'Завтрак и ужин',
                         'Только завтрак', 'Без питания'], label: 'Питание:' %>
    <%= form.select :transport, %w(Автобус Самолёт Поезд), label: 'Транспорт:'%>
    <%= form.text_field :price , label: 'Цена:' %>
    <%= form.text_area :description , label: 'Описание'%>
  <div class="actions ">
    <%= form.submit  class: 'btn btn-theme'%>
  </div>
<% end %>
</div>
</div>
</div>

