<section class="rooms-section spad">
<div class="container">
    <div class="row">
    <div class="col-lg-12">
        <div class="breadcrumb-text">
            <h2> Подобранные туры </h2>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <section class="rooms-section spad">
                <div class="container">
                    <div class="row">
                    <% @tours.each do |tour| %>
                        <div class="col-lg-4 col-md-6">
                                <div class="room-item">
                                
                                <% if tour.image.attached? %>
                                <%= image_tag(tour.image, height: "250") %>
                                <% else %>
                                <%= link_to image_tag('time-to-travel-3.jpg', height: "250"), tour %>
                                <% end %>
                               
                                    <div class="ri-text">
                                        <h4><%= tour.name %></h4>
                                        <h3><%= tour.price%>$<span>/Pernight</span></h3>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="r-o">Кол-во ночей:</td>
                                                    <td><%= tour.nights %></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <%= link_to "Подробнее", tour_path(tour) %>
                                    </div>
                                </div>
                        </div>
                    <%end%>
                    </div>
                </div>    
            </section>
        </div>
        
        <div class="col-xl-3 col-lg-5 ">
              <div class="booking-form">
                  <h2 align="center">Подбор тура</h2>
                  <%= bootstrap_form_tag url: tour_with_kind_path(@kind), method: :get  do |f| %> 
                        <%= f.select :sort, %w(Новые Дешевые Дорогие Популярные),  label: "Сначала"  %>
                        <%= f.text_field :country, label: 'Страна' %>
                        <%= f.text_field :city, label: 'Город' %>
                        <%= f.label 'Количество звёзд отеля' %>
                        <br>
                        <% 5.times do |i| %>
                            <%= f.check_box "stars_arr[#{i+1}]", label: "#{i+1}", inline: true%>
                        <% end %>
                        <%= f.label '' %>
                        <%= f.select :food, ['Не имеет значения','Всё включено',
                                             'Завтрак, обед и ужин', 'Завтрак и ужин',
                                             'Только завтрак', 'Без питания'], label: 'Питание'%>
                        <%= f.select :transport, %w(Любой Автобус Самолёт Поезд), label: 'Транспорт'%>
                        <%= f.label 'Количество ночей', class: 'text-center' %>
                        <%= f.number_field :min_nights, label: 'От:', min: 0, value: 0 %>
                        <%= f.number_field :max_nights, label: 'До:', min: 0, value: 0 %>
                        <%= f.label 'Цена в USD($) :', class: 'text-center' %>
                        <%= f.number_field :min_price, label: 'От:', min: 0, value: 0 %>
                        <%= f.number_field :max_price, label: 'До:', min: 0 , value: 0 %>
                        <%= f.submit 'Подобрать', class: 'btn btn-theme col-md-12' %>
                    <% end %>
                  </form>
              </div>
        </div>
    </div>
</div>  

</div>

</div>
</section>





