<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>Tourism</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag "application" %>
    <meta name="description" content="Sona Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Europa Hotel & Spa | Template</title>
    <!-- Google Font -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "elegant-icons" %>
    <%= stylesheet_link_tag "flaticon" %>
    <%= stylesheet_link_tag "font-awesome.min" %>
    <%= stylesheet_link_tag "jquery-ui.min" %>
    <%= stylesheet_link_tag "magnific-popup" %>
    <%= stylesheet_link_tag "nice-select" %>
    <%= stylesheet_link_tag "owl.carousel.min" %>
    <%= stylesheet_link_tag "slicknav.min" %>
    <%= stylesheet_link_tag "style" %>

  </head>
  <style> 
  input[type=button], input[type=submit], input[type=reset] {
    background-color:  #dfa974;
    font-size: 25px;
    border: none;
    color: white;
    padding: 2px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  </style>
  <body>


  <!-- Header Section Begin -->
  <header class="header-section">
      <div class="top-nav">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <ul class="tn-left">
                          <li><a><%= link_to('ГЛАВНАЯ',root_path) %> </a></li>
                          <li><a href="#">О НАС</a></li>
                          <li><a href="#">КОНТАКТЫ</a></li>
                          <% if user_signed_in? %>
                          <li><a> <%= link_to('ПРОФИЛЬ',profile_path) %> </a></li>
                          <li><a> <%= link_to('ВЫХОД',destroy_user_session_path, :method => :delete)%> </a></li>
                          <% if  current_user.admin_role? %>
                          <li class="active"><a ><%= link_to 'ПАНЕЛЬ УПРАВЛЕНИЯ',  rails_admin_path  %></li></a>
                          <%end%>
                          <% else %>
                          <li> <a> <%= link_to('РЕГИСТРАЦИЯ',new_user_registration_path)%> </a></li>
                          <li> <a> <%= link_to('ВХОД' ,new_user_session_path)  %> </a></li>
                          <% end %>
                      </ul>
                  </div>
                  
              </div>
          </div>
      </div>
      <div class="menu-item">
      <div class="container">
          <div class="row">
              <div class="col-lg-2">
                  <div class="logo">
                      <%= image_tag("logo-1.1.png", :alt => "") %>
                      </a>
                  </div>
              </div>
              <div class="col-lg-10">
                  <div class="nav-menu">
                      <nav class="mainmenu">
                          <ul>
                            <li><a><%= link_to('ВСЕ ТУРЫ', tour_with_kind_path('все')) %> </a></li>
                            <li><a><%= link_to('ГОРНОЛЫЖНЫЙ ОТДЫХ', tour_with_kind_path('горнолыжный'))%></a></li>
                            <li><a><%= link_to('ПЛЯЖНЫЙ ОТДЫХ', tour_with_kind_path('пляжный'))%></a></li>
                            <li><a><%= link_to('ГОРОДСКИЕ ТУРЫ', tour_with_kind_path('городской'))%></a></li>
                            <li><a><%= link_to('ЭКСКУРСИИ', tour_with_kind_path('экскурсии'))%></a></li>
                            <% if user_signed_in? %>
                            <% if current_user.manager_role? || current_user.admin_role? %>
                            <li><a><%= link_to 'Добавление тура', new_tour_path %></li></a>
                            <%end%>
                            <%end%>
                          </ul>
                      </nav>
                      
                  </div>
              </div>
          </div>
      </div>
      </div>

<script src="<%= asset_path('jquery-3.3.1.min.js') %>"></script>
<script src="<%= asset_path('bootstrap.min.js') %>"></script>
<script src="<%= asset_path('jquery.magnific-popup.min.js') %>"></script>
<script src="<%= asset_path('jquery-ui.min.js') %>"></script>
<script src="<%= asset_path('jquery.nice-select.min.js') %>"></script>
<script src="<%= asset_path('jquery.slicknav.js') %>"></script>
<script src="<%= asset_path('owl.carousel.min.js') %>"></script>
<script src="<%= asset_path('main.js') %>"></script>
    <%= yield %>
    </body>

    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#">
                                <%= image_tag("logo-1.1.png", :alt => "") %>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>Информация</h6>
                            <ul>
            <ul class="tag_nav">
              <li>Наша группа Вконтакте</li>
              <li>Наша группа в Одноклассниках</li>
              <li>Наша страница в Twitter</li>
              <li>Наша страница в Facebook</li>
            </ul>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>Контакты</h6>
                            <p>Полное наименование: ООО "Trevel Agency"</p>
                            <p>Режим работы турагенства: понедельник-пятница с 8:30 до 23:00, суббота и воскресение - с 10.00 до 20.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="co-text"><p>
  Вашкевич &copy;2020  | Разработано Вашкевич Е.О.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>
